.nums-container {
  display: flex;
  justify-content: center;
  margin: 25px auto;
  min-width: 475px;
  padding: 10px;
  position: relative;
  background-color: var(--purple);
}

.lotto-num {
  min-width: 55px;
  height: 100px;
  background-color: var(--yellow);
  margin: 15px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-purple);
  font-size: 2rem;
  border-radius: 5px;
}

@media screen and (max-width: 400px) {
  .lotto-num {
    font-size: 1.5rem;
  }

  .nums-container {
    min-width: 370px;
  }

  .lotto-num {
    min-width: 45px;
    height: 75px;
  }
}